.productos {
    margin: 0 0em 0 0em;
}

.productos .productocontainer{
    margin: 4em 0 4em 0;
}

.productocontainer .logoytexto {
    display: flex;
    padding: 1em 2em 1em 2em;
}

.logoytexto .imagen {
    width: 50%;
    text-align: center;
}
.logoytexto .parrafo{
    width: 40%;
}

#producto-mujeres-depalabra
.logoytexto .parrafo span{
    color: var(--clr-mujerespalabra);
}

#producto-conserva-tactiva
.logoytexto .parrafo span{
    color: var(--clr-conserva-tactiva);
}
#producto-credito-individual
.logoytexto .parrafo span{
    color: var(--clr-credito-individual);
}


.productocontainer .logoytexto img{
    max-width: 300px;
}


.cuerpoproducto {
    
    display: flex;
    align-items: center;
}

.cuerpoproducto .descripcionproducto{    
    line-height: 3em;
}

.cuerpoproducto .descripcionproducto{
    font-weight: var(--fw-regular);    
}
.cuerpoproducto .descripcionproducto #descp1{ margin-left: -1em; line-height: 1em; }
.cuerpoproducto .descripcionproducto #descp2{ margin-left: 0.1em }

.cuerpoproducto .descripcionproducto #descp3{ 
        margin-left: 0.2em;
        line-height: 1em;
}

.cuerpoproducto .descripcionproducto #descp4{ margin-left: 0em }
.cuerpoproducto .descripcionproducto #descp5{ margin-left: -1em }

.cuerpoproducto .descripcionproducto h5{
    color: black;
    font-weight: var(--fw-thin);
    line-height: 1em;
    margin: 0;
    padding: 0;
}

#producto-mujeres-depalabra
.cuerpoproducto .descripcionproducto span{
    color: var(--clr-mujerespalabra);    
}
#producto-conserva-tactiva
.cuerpoproducto .descripcionproducto span{
    color: var(--clr-conserva-tactiva);    
}
#producto-credito-individual
.cuerpoproducto .descripcionproducto span{
    color: var(--clr-credito-individual);    
}


.cuerpoproducto .imagenproducto {
    width: 50%;
}

#producto-mujeres-depalabra
.requisitoslista {
    border: 1px var(--clr-mujerespalabra) solid;
    position: relative;
}
#producto-conserva-tactiva
.requisitoslista {
    border: 1px var(--clr-conserva-tactiva) solid;
    position: relative;
}
#producto-credito-individual
.requisitoslista {
    border: 1px var(--clr-credito-individual) solid;
    position: relative;
}

.requisitoslista img{
    max-width: 50px;
    margin-left: 0  em;
}

.requisitoslista p{
    position: absolute;
    top: 0;
    left: 4em;
}

#producto-mujeres-depalabra
.requisitoslista p {
    color: var(--clr-mujerespalabra);
}
#producto-conserva-tactiva
.requisitoslista p {
    color: var(--clr-conserva-tactiva);
}
#producto-credito-individual
.requisitoslista p {
    color: var(--clr-credito-individual);
}


.requisitoslista ul{
    padding: 0 0 0 1em;
    font-weight: var(--fw-thin);
    color: black;
    font-size: 0.8em;
    line-height: 2em;
}

.beneficiosproducto {
    text-align: center;
    margin: 4em 4em 0em 4em;
    
}
.beneficiosproducto p{
    font-weight: var(--fw-regular);
    line-height: 1em;
}

/* .beneficiosproducto p span,h3 {
    color: var(--clr-mujerespalabra);
} */
#producto-mujeres-depalabra
.beneficiosproducto h3,
#producto-mujeres-depalabra 
.beneficiosproducto span {
    color: var(--clr-mujerespalabra);
}
#producto-conserva-tactiva
.beneficiosproducto h3,
#producto-conserva-tactiva 
.beneficiosproducto span {
    color: var(--clr-conserva-tactiva);
}
#producto-credito-individual
.beneficiosproducto h3,
#producto-credito-individual 
.beneficiosproducto span {
    color: var(--clr-credito-individual);
}

.beneficiosproducto img{
    height: 80px;
    width:auto;
}

.beneficiosgrid {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 40% 60%;
    grid-gap: 1em;
    text-align: justify;
    font-weight: var(--fw-thin);
    font-size: 1em;
    color: var(--clr-grisnosotros);
}

.beneficiosgrid img{
    width: 100%;
    height: auto;   
}

.beneficiosgrid #gridcel02 {
    grid-column: 2 / 3;
   grid-row: 1 / 3;
   
}

