*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom properties */
/* 
Fuentes:
Roboto 100, 300, 400 y 900
Charmonman normal
*/
@font-face {
    font-family: "Zapfino";
    src: url("/font/ZapfinoExtraLT-One.otf");
}

:root {
    --ff-primary: 'Roboto', sans-serif;
    --ff-secondary: 'Zapfino', cursive;
    --fw-thin: 100;
    --fw-regular: 300;
    --fw-semibold: 400;
    --fw-bold: 900;
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #005662;
    --clr-gris: #E6E6E6;
    --clr-azul: #14179A;
    --clr-rosa: #EC1E79;
    --clr-mujerespalabra: #EB6D49;
    --clr-conserva-tactiva: #F7921D;
    --clr-credito-individual: #ACC713;
    --clr-seguros: #662C91;
    --clr-grisnosotros: #4D4D4D;
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25), 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}
html {
    scroll-behavior: smooth;
}
/* General styles */
body {
    background: var(--clr-light);
    color: var(--clr-azul);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1;
    
}

a {
    text-decoration: none;
    color: var(--clr-azul);
}
ul {
    list-style-type: none;
}
img {
    width: 100%;
}

/* Encabezado de logo y titulo*/
.logo-conserva {
    max-width: 600px;
    margin: auto;
    text-align: center;
}
.logo-conserva img {
    padding: 50px 20px 10px 20px;
}
.logo-conserva span { 
    color: var(--clr-rosa);
}

.mujeres-home-container {
    position: relative; 
}

.mujeres-home-baner {
    background-color: var( --clr-gris);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: absolute;
    bottom: 15px;
    width: 100%;
    height: auto;
    background: rgba(230, 230,230, 0.5)
}

/* Cards de programas no financieros*/
.ficha-programa {
    display: flex;
    flex-direction: column;
    padding: 1px;
    text-align: center;
    align-items: center;
    
    width: 150px;
}

.ficha-programa img {
    width: 150px;
}

.ficha-programa-titulo {
    font-weight: var(--fw-bold);
    height: 3em;
}

.ficha-programa-cifra {
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
    color: var(--clr-rosa);
    
}

/*  Productos -pagina inicio */

.productos {
    margin: 0 4em 0 4em;
}
.promotor {
    display: flex;
    
}
.promotor img {
    height: 500px;
    width: auto;
}
.promotor-logo,
.promotor-parrafo {
    width: 50%;
    
}

.promotor-parrafo {
    text-align: center;
}
.promotor-parrafo #p1 {
    font-size: var(--fs-h2);
    margin-bottom: 2em;
}
.promotor-parrafo #p2 {
    font-size: var(--fs-h2);
    margin: 0;
}
.promotor-parrafo #p3 {
    font-size: var(--fs-h1);
    margin: 0;
}
.promotor-parrafo #p5 {
    font-size: var(--fs-h3);
    margin: 0;
    color:brown
}

span {
    font-weight: var(--fw-bold);
}

/* Producto(s) item */ 
.producto-item {
    position: relative;
    margin-top: -80px;
    
}
.producto-item #fondo{
    height: 300px;
    width: auto;
}
.producto-item #logo {
    width: 300px;
    position: absolute;
    top: 100px;
    left: 250px;
}


.producto-item .parrafo {
    position: absolute;
    max-width: 500px;
    top: 90px;
    left: 600px;
    font-weight: var(--fw-regular);
    
}


.parrafo-mini {
    display: flex;
    flex-direction: row;
}

.parrafo #span01{ color: var(--clr-mujerespalabra); }
.parrafo #span02{ color: var(--clr-conserva-tactiva); }
.parrafo #span03{ color: var(--clr-credito-individual); }
.parrafo #span04{ color: var(--clr-seguros); }

.parrafo-mini img {
    height: 40px;
    width: 70px;
    margin-left: 5px;
}

/* fin - productos -pagina inicio */

/* Contacto info  */
.contacto-container {
    display: flex;
    flex-wrap: wrap;      
    margin-top: 2em;
    margin-bottom:  4em;
    margin-left: 4em;
    margin-right: auto;
    line-height: 1.5em;
    
}

.imagen-border {
    display: flex;
    position: relative;
    margin: 0px 5px 0 5px;
    border: 2px var(--clr-azul) solid;
    height: 170px;
    font-weight: var(--fw-regular);
}


.contacto-container #imagen-border01 {
    min-width: 290px;
}

.contacto-container #imagen-border02 {
    min-width: 250px;
}
.contacto-container #imagen-border03 {
    min-width: 390px;
}


.imagen-border .texto01 {
    padding: 10px 0 10px 20px;
    width: 180px;
}
.imagen-border .texto02 {
    padding: 10px 0 10px 20px;
    width: 120px;
}
.imagen-border .texto03 {
    padding: 5px 0 10px 20px;
    width: 250px;
}

.imagen-border img {
    position: absolute;
    left: 50%;
    z-index: -1;
    width: auto;
}

.imagen-border #imagen-callcenter {
    left: 66%;    
}

/* fin -> Contacto info*/



/* Footer */
.footer {
    background-color: var(--clr-gris);
    padding: 1em 1em;
    border-top: 4px var(--clr-azul) solid;
    
}

.footer-top,
.footer-navbar
{
    display: flex;
    justify-content: space-around;

}

.footer-bottom {
    display: flex;
    justify-content: space-around;
    max-width: 800px;
    margin: auto;
}

.social-container {
    text-align: center;
    line-height: 0.1;
    font-size: 14px;
    font-weight: var(--fw-bold);
    
}
.footer-bottom img {
    padding: 1em;
}

.footer-bottom .condusef-info p {
    max-width: 500px;
    min-width: 300px;
    line-height: 1em;
    margin: 4px 4px;
    font-size: 12px;
}
.footer-bottom .une-info {
    min-width: 150px;
    font-size: 14px;
}

.footer-bottom .condusef-info-name {
    font-weight: bolder;
}

.logomini,
.sloganmini {
    height: 100px;
    width: auto;
}

.footer-navbar ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.social-list__link:hover {
    opacity: 0.7;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    
}
.social-list__item {
    
    margin: 0 0.5em;
    line-height: 2em;
    font-weight: var(--fw-regular);
    
}
.social-list__link {
    padding: 0.1em
}
.politicaprivacidad {
    font-weight: var(--fw-regular);
    text-align: justify;
    margin: 0 4em 0 4em;
    
}
.politicaprivacidad #buro-entidades-link {
    font-weight: var(--fw-semibold);
}
.buroinfo {
    display: flex;
}
.buroinfo img {
    margin-right: 1em;  
}



/*  footer */



/*  Menu deslizable */
.nav {
    position: fixed;
    background: var(--clr-gris);
    color: var(--clr-azul);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link {
    color: inherit;
    font-weight: var(--fw-regular);
    font-size: var(--fs-h2);
    text-decoration: none;
}

.nav__link:hover {
    color: white;
}

/* hamburguer*/
.nav-toggle {
    padding: 0.5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 2em;
    top: 2em;
    z-index: 1000;
}

.nav-open .nav {
    transform: translateX(0%)
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburguer {
    transform: rotate(0.625turn);
}

.nav-open .hamburguer::before {
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburguer::after {
    opacity: 0;
}

.hamburguer {
    display: block;
    position: relative;
}

.hamburguer,
.hamburguer::before,
.hamburguer::after {
    background: var(--clr-azul);
    width: 3em;
    height: 5px;
    transition: transform 250ms ease-in-out;
}

.hamburguer::before,
.hamburguer::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburguer::before {
    top: 8px;
}

.hamburguer::after {
    bottom: 8px;
}
/* end of hamburguer */


.enconstruccion {
    margin: 0 4em 0 4em;
    line-height: 3em;
    text-align: center;

}
.enconstruccion img {
    max-width: 200px;
    width: 100%;
}